<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <header>
      <% if user_signed_in? %>
      <!--ログイン済の場合、ここからelseまでの間が表示される-->
        <li>
          <%= link_to "Bookers", root_path %>
        </li>
        <li>
          <%= link_to "Home", user_path(@user.id) %>
          <!--リンク先をUser#showにする。Book#editへ移行しようとすると定義不足のエラーがでる。どうしてそこに影響がでた？個別への移動が被ったから？-->
          <!--そこで、Bookコントローラー＃editとhomesコントローラーに@user = current_userを追加してみた。そしたら定義不足のエラーが解消された-->
          <!--この処理でどうして解決できたのか理解できていない-->
        </li>
        <li>
          <%= link_to "Users", users_path %>
        </li>
        <li>
          <%= link_to "Books", books_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <!--ログインしていない場合、ここから下の部分が表示される-->
      <% else %>
        <li>
          <%= link_to "Bookers", root_path %>
        </li>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    
    <!--このyieldがないとhtmlからのデータを読み込まない。必ず必要-->
    <%= yield %>
  </body>
  
</html>
